//variables
$primary-color: red;
$accent-color: blue;
$text-color: hsl(233, 8%, 62%);
$light: hsl(0, 0%, 98%);
$header-color: hsl(233, 26%, 24%);


$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);